footer.footer
    .f1 
        p(style="font-size:large") About Us 
        br
        p(style="padding-bottom:0.5%") U_STAY Hotels and Rooms 
        p(style="padding-bottom:2%") Part of Shukla Groups Pvt. Ltd. 

        p B 84 Indira Nagar 
        p Lucknow, Uttar Pradesh 
        p 226016
    .f2 
        p Follow Us
        br
        .f3
            span(style=" font-size:x-large;").fa.fa-facebook.checked
            span(style=" font-size:x-large;").fa.fa-twitter.checked 
            span(style=" font-size:x-large;").fa.fa-instagram.checked
    .f4 
        p More 
        br
        p Privacy Policy
        p Terms of Use
        p Careers

    .f5 
        
        p Ayush Shukla 
        p B.Tech Student 
        P IIT Jodhpur
        p ashukla4141@gmail.com
        br
        //- span(style=" font-size:x-large;").fa.fa-copyright.checked
        p No copyrights involved
        p Made for Self-Project
