extends base


block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log In To your account
            br
            form.complete-form
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Log In
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(type='module' src="/js/index.js")
//-        script(type='text/javascript' src='/../public/js/index.js' )