<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush Hotels | log into your account</title>
</head>

<body>
    <div class="signUp-form">
        <h2>Sign Up</h2>
        <form class="complete-form">
            <div class="form__group"><label for="name">Name</label><input id="name" type="name" required></div>
            <div class="form__group"><label for="email">Email address</label><input id="email" type="email"
                    placeholder="you@example.com" required></div>
            <div class="form__group"><label for="password">Password</label><input id="password" type="password"
                    placeholder="••••••••" required minlength="8"></div>
            <div class="form__group"><label for="passwordConfirm">Confirm Password</label><input id="passwordConfirm"
                    type="password" placeholder="••••••••" required minlength="8"></div>
            <div class="form__group"><button>SignUp</button></div>
        </form>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>