//- doctype html
//- html
//-     head 
//-         block head
//-             meta(charset='UTF-8')
//-             meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-             title Ayush Hotels | #{title}
 
extends base

block content
    main.main1
        .signUp-form
            h2.heading-secondary.ma-bt-lg Create Your Account
            form.complete-form
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='name',   required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••',required, minlength='8')
                .form__group
                    button.btn.btn--green SignUp
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(type='module' src="/js/index.js")
//-        script(type='text/javascript' src='/../public/js/index.js' )